
<div class="row" infinite-scroll (scrolled) = "onScrollDowm()">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">
        <app-character 
        [character] = "character"
        [isAuthenticated] = "isAuthenticated"
        ></app-character>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound"  *ngIf = "characters.length <= 0">
        <p>No Results...</p>

    </div>
</div>
<button
 class = "btn"
 [ngClass] = "'no hidden'"
 (click) = "onScrollTop()">Go Up</button>